{% extends "base_bootstrap.html" %}

{% block content %}

{% if breed_list %}
<p> The Breeds are </p>
{% for breed in breed_list %}
<ul>
    <li> {{breed}} (<a href="{% url 'cats:breed_update' pk=breed.id %}">Update</a> | <a href="{% url 'cats:breed_delete' pk=breed.id %}">Delete</a>) </li>
</ul>
{% endfor %}
{% else %}
<p>There is no Breed present</p>
{% endif %}



<p><a href="{% url 'cats:breed_create' %}">Add a Breed</a> | <a href="{% url 'cats:cat_list' %}">Back to Cats</a></p>

{% endblock %}